<div class="form-group row">
        {{if label}}
            <div class="col-md-{{if narrow}}12{{else}}5{{/if}} col-12 col-sm-12 leftSider">
                <label>{{:label}}</label>
            </div>
            <div class="col-md-{{if narrow}}12{{else}}7{{/if}} col-12 col-sm-12 ">
        {{/if}}
                {{include type1}}
                    <div class="row selectLine">
                        <div class="col-1 col-md-1">
                            <input type="radio" name="{{:name}}" id="{{:id}}" value="{{:value}}" {{if selected}} checked="checked" {{/if}}/>
                        </div>
                        <div class="col-11 col-md-11 availabilityField">
                            <label for="{{:id}}" class="fakeLabel">{{:label}}</label>
                        </div>
                    </div>
                {{/include}}
                {{include type2}}
                    <div class="row selectLine">
                        <div class="col-1 col-md-1">
                            <input type="radio" name="{{:name}}" id="{{:id}}" value="{{:value}}" {{if selected}} checked="checked" {{/if}}/>
                        </div>
                        <div class="col-4 col-md-4 fakeLabel availabilityField">
                            Under
                        </div>
                        <div class="col-2 col-md-2 availabilityField"> 
                            {{include availabilityUnder tmpl="inputText"/}}
                        </div>
                        <div class="col-3 col-md-3 fakeLabel availabilityField"> 
                            weeks
                        </div>
                    </div>
                {{/include}}
                {{include type3}}
                    <div class="row selectLine">
                        <div class="col-1 col-md-1">
                            <input type="radio" name="{{:name}}" id="{{:id}}" value="{{:value}}" {{if selected}} checked="checked" {{/if}}/>
                        </div>
                        <div class="col-4 col-md-4 fakeLabel availabilityField">
                            As from
                        </div>
                        <div class="col-5 col-md-5 availabilityField">
                            {{include availabilityAsFrom tmpl="selectDate"/}}
                        </div>
                    </div>
                {{/include}}
        {{if label}}
            </div>
        {{/if}}
</div>