<div class="row">
    <div class="col-12 col-md-5">
        <legend class="{{:labelClass}}">{{:label}}</legend>


    </div>
    <div class="col-12 col-md-7">
        <div id="languageSelectionContainer">
        {{for languages}}
            {{include tmpl="inputLanguageRow"/}}
        {{/for}}
        </div>
    </div>
</div>    
        <div class="row">
            <div class="col-12 col-md-{{:buttonOffset}}">
            </div>
            <div class="col-12 col-md-4 rightSider">
                {{include langAddRow tmpl="addLink"/}}
            </div>
        </div>
