{{if !alone}}
<div class="form-group row">
    {{if label}}
        <div class="col-md-{{if narrow}}12{{else}}5{{/if}} col-12 leftSider">
            <label for="{{:id}}">{{:label}}</label>
        </div>
        <div class="col-md-{{if narrow}}12{{else}}7{{/if}} col-12">
    {{/if}}
{{/if}}
            <input 
            type="{{if !type}}text{{else}}{{:type}}{{/if}}" 
            class="form-control" 
            id="{{:id}}" 
            placeholder="{{if placeholder}}{{:placeholder}}{{else}}{{:label}}{{/if}}"
            {{if value}} value="{{:value}}" {{/if}}>
{{if !alone}}
    {{if label}}
        </div>
    {{/if}}
</div>
{{/if}}