
<div class="form-group row languageRow">
    <img class="languageRowDelete" src="./assets/icons/delete.png" />
    <div class="col-5 col-sm-6 col-md-6">
        <select class="form-control langSelecter">
            <option selected disabled hidden>Please select your language</option>
            {{for langOptions tmpl="optionList"/}}
        </select>
    </div>
    <div class="col-5 col-sm-5 col-md-6">
        <select class="form-control lvlSelecter">
            <option selected disabled hidden>Please select your level</option>
            {{for lvlOptions tmpl="optionList"/}}
        </select>
    </div>
</div>