
<div class="row">
    <div class="col-12 col-sm-5">
        <label for="{{:firstId}}">{{:label}}</label>
    </div>
    <div class="col-12 col-sm-7">
        <div class="row form-group">
            {{for input}}
            <div class="col-{{:mobileWidth}}{{:width}} col-md-{{:desktopWidth}}{{:width}}">
                <input type="text" class="form-control" id="{{:id}}" {{if placeholder}} placeholder="{{:placeholder}}" {{/if}} {{if value}}
                    value="{{:value}}" {{/if}} />
            </div>
            {{/for}}
        </div>
    </div>
</div>