<div class="row">
    <div class="col-6 col-md-6">
        <select id="{{:id}}" class="form-control">
            <option value="nope">Chose your language</option>
            {{for options tmpl="optionList"/}}}
        </select>
    </div>
    <div class="col-6 col-md-6">
        <input id="{{:id}}Slider" data-slider-id='{{:id}}-Slider' type="text" data-slider-value="0" data-slider-tooltip="show">
    </div>
</div>