<section>
    <div id="{{:id}}" class="form-group row">
        <div class="col-md-11">
            <input name="{{:name}}" class="form-control" placeholder="{{:placeholder}}">
        </div>
    </div>
</section>