{{for options}}
    {{if inline}}
    
        <label class="radio-inline" for="{{:id}}">
            <input type="radio" name="{{:name}}" id="{{:id}}" value="{{:value}}" {{if selected}} checked="checked" {{/if}}/>&nbsp;{{:label}}
        </label>
        
    {{else}}
        <input type="radio" name="{{:name}}" id="{{:id}}" value="{{:value}}" {{if selected}} checked="checked" {{/if}}/>
        <label for="{{:id}}">{{:label}}</label>
    {{/if}}
{{/for}}