{{if !narrow}}
<div class="form-group row">
    <div class="col-12 col-md-5 leftSider">
        <label for="{{:countryId}}">{{:label}}</label>
    </div>
    <div class="col-12 col-md-7">
        <select id="{{:countryId}}" class="form-control">
            {{for countryList tmpl="optionList"/}}
        </select>
    </div>
</div>
<div class="form-group row regionSelecter" style="display:none;">
    <div class="col-12 col-md-5">
    </div>
    <div class="col-12 col-md-7">
        <select id="{{:regionId}}" class="form-control">
            {{!--for regionList tmpl="optionList"/--}}
        </select>
    </div>
</div>
{{else}}

<div class="form-group row">
        <div class="col-12 col-md-12 leftSider">
            <label for="{{:countryId}}">{{:label}}</label>
        </div>
        <div class="col-12 col-md-12">
            <select id="{{:countryId}}" class="form-control">
                {{for countryList tmpl="optionList"/}}
            </select>
        </div>
    </div>
    <div class="form-group row regionSelecter" style="display:none;">
        <div class="col-12 col-md-12">
            <select id="{{:regionId}}" class="form-control">
                {{!--for regionList tmpl="optionList"/--}}
            </select>
        </div>
    </div>

{{/if}}