{{if !alone}}
<div class="form-group row">
    {{if label}}
    <div class="col-xs-12 col-md-5 leftSider">
        <label for="{{:id}}">{{:label}}</label>
    </div>
    {{/if}}
    <div class="col-xs-12 {{if !fullLength}}col-md-4{{else}}col-md-7{{/if}}">
{{/if}}
        <input type="text" id="{{:id}}" class="form-control datepicker" placeholder="{{if !placeholder}}dd/mm/yyyy{{else}}{{:placeholder}}{{/if}}" data-date-format="dd/mm/yyyy" {{if value}} value="{{:value}}"{{/if}}>
{{if !alone}}
    </div>
</div>
{{/if}}