<div class="form-group">
    <div class="row">
        <div class="col-12 col-md-{{if narrow}}12{{else}}5{{/if}} leftSider">
            <label for="{{:id}}">{{:label}}</label>
        </div>
        <div class="col-12 col-md-{{if narrow}}12{{else}}7{{/if}}">
            <select id="{{:id}}" class="form-control">
                {{for options tmpl="optionList"/}}
            </select>
        </div>
    </div>
</div>