<div class="form-group">
    <div class="row">
        <div class="col-12 col-md-3">
            {{if label}}
            <label for="{{:id}}">{{:label}}</label>{{/if}}
        </div>
        <div class="col-12 col-md-9">
            <div class="row form-group">
                <div class="col-2 col-md-2">
                    <select id="{{:id}}" class="form-control">
                        <option value="none">Please select</option>
                        <option value="before">Before</option>
                        <option value="after">After</option>
                    </select>
                </div>
                <div class="col-2 col-md-2">
                    <select id="{{:id}}Day" class="form-control"></select>
                </div>
                <div class="col-6 col-md-6">
                    <select id="{{:id}}Month" class="form-control"></select>
                </div>
                <div class="col-2 col-md-2">
                    <select id="{{:id}}Year" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
</div>