<div class="form-group row">
    <div class="col-md-5 col-12 leftSider">
        <label for="{{:id}}">{{:label}}</label>
    </div>

    <div class="col-md-3 col-12">
        {{if valLabel}}
        <div class="row">
            <div class="col-md-8 col-8">
        {{/if}}
                <input type="text" id="{{:id}}" class="form-control" value="{{:value}}">
        {{if valLabel}}
            </div>
            <div class="col-md-4 col-4 textNextToSlider">
                {{:valLabel}}
            </div>
        </div>
        {{/if}}
    </div>

    <div class="col-md-4 col-12">

        <input id="{{:id}}Slider" data-slider-id='{{:id}}Slider ' 
        type="text" data-slider-value="{{:sliderPosition}}" data-slider-tooltip="show">
        
    </div>
</div>