<div class="form-group row">
    <div class="col-12 col-md-12 leftSider">
        <label for="{{:id}}">{{:label}}</label>
    </div>
    <div class="col-12 col-md-12">
        <textarea class="form-control" rows="{{:rows}}" id="{{:id}}" placeholder="{{:placeholder}}">{{:value}}</textarea>

    </div>
</div>