<form class="needs-validation" id="registerForm" novalidate>
    <legend>{{:projectCriteriasSelection}}</legend>

    {{include projectName tmpl="inputText"/}}
    {{include projectDuration tmpl="inputText"/}}



    {{include projectStatus tmpl="selectMultiple"/}}
    {{include projectDepartments tmpl="selectMultiple"/}}
    {{include projectSkills tmpl="selectMultiple"/}}
    {{include projectLanguages tmpl="selectMultiple"/}}
    {{include projectBudgets tmpl="selectMultiple"/}}
    

</form>