<div id="pageContent">
    <div class="col-12 col-md-12">
        <h3>{{:name}}</h3>
    </div>
    <div class="col-12 col-md-12">
        department : {{:department}}
    </div>
    <div class="col-12 col-md-12">
        Skills : {{:skills}}
    </div>
    <div class="col-12 col-md-12">
        language : {{:language}}
    </div>
    <div class="col-12 col-md-12">
        Area : {{:area}}
    </div>
    <div class="col-12 col-md-12">
        Project starts : {{:startDate}}
    </div>
    <div class="col-12 col-md-12">
        Duration : {{:duration}}
    </div>
    <div class="col-12 col-md-12">
        Deadline for CVs : {{:CVDeadline}}
    </div>
    <div class="col-12 col-md-12">
        Description :
        <br /> {{:description}}
    </div>
    <div class="col-12 col-md-12">
        Required profile : {{:requiredProfile}}
    </div>
    <div class="col-12 col-md-12">
        (<a href="#myProjects-edit-{{:id}}">Edit</a>|<a href="#myProjects-del-{{:id}}">Delete</a>)
    </div>
</div>