<div class="row">
    <!--<div class="col-12 col-md-6">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="addNewProject">{{:addNewProject}}</button>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="changeCriterias">{{:changeCriterias}}</button>
        </div>
    </div>-->

    <div class="col-12 col-md-3">
        <div class="row">
            {{for buttons}}
            <div class="col-12 col-md-12">
                {{include tmpl="submit"/}}
            </div>
            {{/for}}
        </div>
        <div class="row">

            <!--{{for criterias tmpl="projectCriteria"/}}-->
            {{include criterias tmpl="projectCriteriaSelection"/}}
        </div>
    </div>
    <!--<div class ="col-md-1"></div>-->
    <div class="col-12 col-md-8">
        <div class="row" id="projectListContainer">
            {^{for projects tmpl="projectListItem"/}}
        </div>
    </div>
</div>