<div class="col-12 col-md-6">
    <div class="projectItemFrame itemFrame ">
        <h3><a href="#myProjects-view-{{:id}}" class="projectTitle">{^{:name}}</a></h3>
        <ul>
            <li>Sector : {^{:department}}</li>
            <li>Duration : {^{:duration}} as from {^{:startdate}}</li>
            <li>Skills : {^{:skills}}</li>
            <li>Language : {^{:language}}</li>
        </ul>
    </div>
</div>