<div id="pageContent">
    <form class="needs-validation" id="projectDeletionForm" novalidate>
        <label for="whyDelete">{{:pleaseTellUsWhyYouWantToDeleteYourProject}}</label>
        <div class="row form-group" id="startDate">
            <div class="col-12 col-md-12">
                <select id="whyDelete" class="form-control">
                    <option>J'ai trouvé une autre boite de consultance</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">{{:additionalComments}}</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="submitDeletion">{{:submit}}</button>
        </div>
    </form>
</div>