<section class="narrowPage">
    <form>    
        <div id="page1">
            <div class="bigSectionHeader"><span class="bigSectionHeaderText">Project Creation 1/2</span></div>
            {{include projectName tmpl="inputText"/}} 
            {{include projectStartDate tmpl="selectDate"/}} 
            {{include projectDuration tmpl="sliderWithInputText"/}}
            {{include projectDepartment tmpl="select"/}} 
            {{include projectArea tmpl="select"/}} 
            {{include projectCVDeadline tmpl="selectDate"/}}
            <div class="row submitRow">
                <div class="col-12 col-md-5">
                </div>
                <div class="col-12 col-md-4">
                    {{if submitDraft}}{{include submitDraft tmpl="submit"/}}{{/if}}
                </div>
                <div class="col-12 col-md-3">
                    {{include nextPage tmpl="submit"/}}
                </div>
            </div>
        </div>
        <div id="page2">
            <div class="bigSectionHeader"><span class="bigSectionHeaderText">Project Creation 2/2</span></div>
            {{include projectLanguages tmpl="inputLanguage"/}}
            {{include projectSkills tmpl="selectMultiple"/}} 
            
            {{include projectBudget tmpl="select"/}} 
            {{include projectDescription tmpl="textarea"/}} 
            {{include projectRequiredProfile tmpl="textarea"/}}

            <div class="row submitRow">
                <div class="col-12 col-md-3">

                </div>
                <div class="col-12 col-md-2">
                    {{include precedentPage tmpl="submit"/}}
                </div>
                <div class="col-12 col-md-3">
                    {{if submitDraft}}{{include submitDraft tmpl="submit"/}}{{/if}}
                </div>
                <div class="col-12 col-md-4">
                    {{if submitToValidation}}{{include submitToValidation tmpl="submit"/}}{{/if}}
                </div>
            </div>
        </div>




    </form>
</section>