<div class="row">
        <div class="col-sm-12 col-xl-3">
    
        </div>
        <div class="col-sm-12 col-xl-6">
            {{include topNavBar tmpl="buttonGroup"/}}
        </div>
        <div class="col-sm-12 col-xl-3">
    
        </div>
    
    
        <div class="col-sm-12 col-xl-3">
    
        </div>
        <div class="col-sm-12 col-xl-6">
        {{include editConnectionData}}
        <form class="needs-validation" id="connectionDataForm" novalidate>
            <fieldset>

                <legend>Change mail</legend>
                {{include mail tmpl="inputText"/}} 
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        {{include submit1 tmpl="submit"/}}
                    </div>
                </div>
                <legend>Change password</legend>
                {{include password1 tmpl="inputText"/}} 
                {{include password2 tmpl="inputText"/}} 
                {{include oldPassword tmpl="inputText"/}}
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        {{include submit2 tmpl="submit"/}}
                    </div>
                </div>

            </fieldset>
        </form>
        {{/include}}
    </div>
    <div class="col-sm-12 col-xl-3">
    </div>
</div>