<div class="row">
    <div class="col-sm-12 col-xl-3">

    </div>
    <div class="col-sm-12 col-xl-6">
        {{include topNavBar tmpl="buttonGroup"/}}
    </div>
    <div class="col-sm-12 col-xl-3">

    </div>

    {{include editProfile}}
    <div class="col-sm-12 col-xl-3">
        <div class="smallEmptySpace">&nbsp;</div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <img src="./assets/avatar/{{:avatar}}.png" class="avatar" />
            </div>
            <div class="col-2"></div>
        </div>
        <div class="smallEmptySpace"></div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">{{include changeAvatar tmpl="submit"/}}</div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-sm-12 col-xl-6">
        
            <form>
                <fieldset>
                    <!--<legend>{{:profileEdition}}</legend>-->
                    


                    {{include jobTitle tmpl="inputText"/}}

                    {{include departmentInterest tmpl="selectMultiple"/}}

                    {{include skillInterest tmpl="selectMultiple"/}}

                    {{include location tmpl="region"/}}
                    {{include availability tmpl="availability"/}}

                    

                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            {{include profileSubmit tmpl="submit"/}}
                        </div>
                    </div>
                </fieldset>
            </form>
        {{/include}}
    </div>
    <div class="col-sm-12 col-xl-3">
    </div>
</div>