<div class="row">
        <div class="col-sm-12 col-xl-3">
    
        </div>
        <div class="col-sm-12 col-xl-6">
            {{include topNavBar tmpl="buttonGroup"/}}
        </div>
        <div class="col-sm-12 col-xl-3">
    
        </div>
    
    
        <div class="col-sm-12 col-xl-3">
    
        </div>
        <div class="col-sm-12 col-xl-6">
        {{include editContactData}}
        <form class="needs-validation" id="contactDataForm" novalidate>
            <fieldset>
                <div id="det1">
                    <legend>Personal details</legend>

                    {{include firstName tmpl="inputText"/}} 
                    {{include lastName tmpl="inputText"/}} 
                    {{include birth tmpl="selectDate"/}} 
                    {{include nationalRegisterNumber tmpl="inputText"/}} 
                    {{include sex tmpl="select"/}}
                    <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                {{include page1 tmpl="submit"/}}
                            </div>
                    </div>
                </div>
                <div id="det2">
                    <legend>Phone</legend>
                    {{include phone1 tmpl="inputText"/}} 
                    {{include phone2 tmpl="inputText"/}}
                    <legend>Address</legend>
                    {{include address tmpl="inputAddress"/}} 
                    {{include country tmpl="select"/}}
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            {{include page2 tmpl="submit"/}}
                        </div>
                        <div class="col-4">
                            {{include contactDataSubmit tmpl="submit"/}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        {{/include}}
    </div>
    <div class="col-sm-12 col-xl-3">
    </div>
</div>