<!-- TO BE DELETED -->

<div class="narrowPage">
    {{include topNavBar tmpl="buttonGroup"/}}
    
    <div id="editProfile">
        {{include editProfile tmpl="editProfile"/}}
    </div>
    <div id="selectCV">
        {{include selectCV tmpl="selectCV"/}}
    </div>
    <div id="editConnectionData">
        {{include editConnectionData tmpl="editConnectionData"/}}
    </div>
    <div id="editContactData">
        {{include editContactData tmpl="editContactData"/}}
    </div>
</div>