<div class="row">
    <div class="col-sm-12 col-xl-3">

    </div>
    <div class="col-sm-12 col-xl-6">
        {{include topNavBar tmpl="buttonGroup"/}}
    </div>
    <div class="col-sm-12 col-xl-3">

    </div>


    <div class="col-sm-12 col-xl-3">

    </div>
    <div class="col-sm-12 col-xl-6">
        <div class="emptySpace"></div>
        <div id="CVSelect">
            {{include selectCV}}
                {{for CVs}}
                <div class="row">
                    <div class="col-12 col-12 col-md-5 cvListTitle">{{:title}}</div>
                    <div class="col-4 col-md-3">{{include copyCVButton tmpl="submit"/}}</div>
                    <div class="col-4 col-md-2">{{include loadCVButton tmpl="submit"/}}</div>
                    <div class="col-4 col-md-2">{{include deleteCVButton tmpl="submit"/}}</div>
                </div>
                {{/for}}
                <form>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">{{include newCVSubmit tmpl="submit"/}}</div>
                    </div>
                </form>
            {{/include}}
        </div>
        <div id="CVEdition">
            <div id="CVEditionTitle"></div>
            <div id="CVEditionNavBar"></div>
            <div id="CVEditionContent"></div>
        </div>
    </div>
    <div class="col-sm-12 col-xl-3">
    </div>
</div>