        /*
                div {
                    border : 3px solid red;
                }
                .container-fluid {
                    border : 3px solid blue;
                }
                [class*="col-"], footer {
                    border: 2px solid black;
                }
            */
            
            body {
                background-color: #59ACB2;
                background-image : url("Assets/wallpaper.png");
                padding-top: 10px;
                color : #38868C;
            }
    
            /*[class*="col-"], footer {
                line-height: 30px;
                text-align: center;
            }*/
            .textNextToSlider {
                margin : 0px;
                padding : 0px
            }
            .narrowPage {
                max-width: 700px;
                margin:auto;
            }
            .averagePage {
                max-width: 900px;
                margin:auto;
            }
            .fullPage {
                width : 1800px;
            }
            .largePage {
                max-width: 1200px;
                margin:auto;
            }
            .selectLine {
                padding-top : 5px;
                padding-bottom : 5px;
            }
            header {
                background-color: rgb(248, 251, 252);
                border: 3px solid #38868C;
                border-radius: 20px;
                width : 99% !important;
                height : 100px;
                line-height  : 80px !important;
            }
            #genyzLogo {
                max-height:95px !important;
            }
            #homeIcon {
                height : 50px;
                width : 50px;
                margin-right : 20px;
            }

            .verticalCentered {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
              }


            #pageContent {
                padding: 15px;
                background-color: #B2DDE0;
                border: 3px solid #38868C;
                border-radius: 20px;
            }
    
            .itemFrame , .userListItem , .userTypeFrame {
                background-color: #B2DDE0;
                background-image: url("Assets/turquoise-flowsmall.png");
                background-size: 100% 100%;
                border: 2px solid #b3f0ff;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 20px;
                box-sizing: border-box;
                /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
                box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.9);
                height:215px;
                padding : 20px;
                text-align: center;
            }
            .projectItemFrame {
                text-align : left;
                height : 240px;
                color : white;
            }
            .itemFrameWide {
                background-color: #B2DDE0;
                background-image: url("Assets/cellBgWide.jpg");
                border: 2px solid #b3f0ff;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 20px;
                box-sizing: border-box;
                /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
                box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
            }
    
            .dashboardItem {
                width:100px;
                height:100px;
                margin-bottom: 10px;
            }
            .itemLink {
                font-size: 24px;
                /*font-weight: bold;*/
                color: white;
            }
    
                .itemLink:hover {
                    color: lightblue;
                }
    
            .headerTitle, .headerTitle:hover{
                padding-top: 10px;
                font-size: 30px;
                color: #38868C;
            }
    
            .langIcon {
                width: 10%;
                height: 10%;
                padding: 1px;
            }
            .bigSectionHeader , .bigSectionHeaderLight {
                background-color : #fcc038;
                height : 130px;
                line-height: 110px;
                font-size : 48px;
                color: white;
                text-align:center;
                /*border : 2px solid orange;*/
                border-radius : 20px;
                margin-top : 40px;
                margin-bottom : 40px;
            }
            .bigSectionHeaderText {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
            
            }
            .bigSectionHeaderLight {
                color:#2E6D72 !important;
                background-color : white !important;
            }
            #mainContainer {
                margin-top: 20px;
            }
    
            .criteria {
                background-color: white;
                border-radius: 5px;
                margin: 5px;
            }
    
            .slider {
                width: 100% !important;
            }
            /*input, select {
                border-radius : 20px !important;
            }*/

            .leftSider {
                text-align : left !important;
            }
            .rightSider {
                text-align : right !important;
            }
            /*
            Make bootstrap-select work with bootstrap 4 see:
            https://github.com/silviomoreto/bootstrap-select/issues/1135
            */
            .dropdown-toggle.btn-default {
                color: #292b2c;
                background-color: #fff;
                border-color: #ccc;
                text-align : left;
            }
            .btn-default::after {
                display:none;
            }
            .hint {
                font-weight : normal;
                font-size : 18px;
                color : white;
                margin-top: 10px;
            }
            .caret {
                display: inline-block;
                width: 0;
                height: 0;
                margin-right : -6px; /* fixes positioning */
                margin-left: 2px;
                vertical-align: middle;
                border-top: 6px dashed;
                border-top: 6px solid\9;
                border-right: 3px solid transparent;
                border-left: 3px solid transparent;
              }
            .bootstrap-select.show > .dropdown-menu > .dropdown-menu {
                display: block;
            }
    
            .bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
                display: none;
            }
    
            .bootstrap-select > .dropdown-menu > .dropdown-menu li a {
                display: block;
                width: 100%;
                padding: 3px 1.5rem;
                clear: both;
                font-weight: 400;
                color: #292b2c;
                text-align: inherit;
                white-space: nowrap;
                background: 0 0;
                border: 0;
            }
    
            .dropdown-menu > li.active > a {
                color: #fff !important;
                background-color: #337ab7 !important;
            }
    
            .bootstrap-select .check-mark::after {
                content: "✓";
            }
    
            .bootstrap-select button {
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
    
            /* Make filled out selects be the same size as empty selects */
            .bootstrap-select.btn-group .dropdown-toggle .filter-option {
                display: inline !important;
            }
    
    
    
    
    
    
    
            .slider-selection {
                background: #fbe3a9;
            }
            .slider-handle {
                background: #fcc038;
            }

             .genyzNavButton , .genyzLightButton{
                /*
                background-color : #fcc038;
                color : white;
                border : 3px solid #fc9b00;
                */
                /*
                background-color : #c6e6e8;
                color : #32777a;
                */
                /*
                background-color : #def2f3;
                color : #21494b;
                */
                color : #2B666A;
                border : 1px solid #2B666A;
                background-color : #BFEDEF; 
                font-weight : bold;
                border-radius:10px;

                background-image : url("./assets/lightButtonBg.png");
                background-size: 100% 100%;
            }
            .genyzButton, .genyzButtonSelected, .genyzNavButtonSelected{
                /*
                background-color : #fcc038;
                color : white;
                border : 3px solid #fc9b00;
                */
                /*
                background-color : #c6e6e8;
                color : #32777a;
                */
                /*
                background-color : #def2f3;
                color : #21494b;
                */
                color : white;
                border : 2px solid white;
                background-color : #fcc038; 
                font-weight : bold;
                border-radius:10px;

                background-image : url("./assets/buttonBg.png");
                background-size: 100% 100%;
            }
            .genyzButton {
                border : 2px solid white;
                background-image : url("./assets/buttonBg.png");
                background-size: 100% 100%;
                border-radius : 5px;
            }
            .genyzLightButton {
                border : 1px solid #2B666A;
                border-radius : 5px;
                background-image : url("./assets/lightButtonBg.png");
                background-size: 100% 100%;
            }

            .projectTitle , .projectTitle:hover {
                color: white;
                
            }
            .lightNavBarButton , .lightNavBarButtonSelected {
                color : white;
                border : 2px solid #439A9E;
                border-radius : 10px;
            }
            .lightNavBarButton {
                background-color : #5BB6BD;
            }
            .lightNavBarButtonSelected {
                background-color : #9BD2D7;
            }
            label , .fakeLabel , .cvListTitle , .whiteTitle{
                color : white;/* #2B666A;*/
                font-weight : bold;
                font-size : 21px;
            }
            .cvListTitle {
                font-style : italic;
            }
            .fakeLabel  ,  legend{
                color : #2B666A;
            }
            .fakeLabel {
                font-weight : normal;
            }
            /* to readjust availability fields to their radio buttons */
            .availabilityField {
               position : relative;
               bottom : 5px;
            }
            .form-control::placeholder , .form-control , .dropdown-toggle.btn-default{
                color: #78BBC0 !important;
                font-style:  italic;
            }
            textarea {
                border-radius : 10px !important;
            }
            .smallEmptySpace {
                margin-top : 10px;
                margin-bottom : 10px;
            }
            .mediumEmptySpace {
                margin-top : 20px;
                margin-bottom : 20px;
            }
            form , .emptySpace {
                margin-top : 40px;
                margin-bottom : 40px;
            }
            .submitRow {
                margin-top : 30px;
            }
            .radio-inline {
                margin-left : 10px;
                margin-right : 10px;
            }
            #CVEditionTitle {
                text-align : center;
                font-size : 30px;
                color : #2B666A;
                margin-bottom : 40px;
            }
            .crudIcon {
                /*width:32px;
                height:32px;*/
                display : inline;
            }
            .crudIcon:hover{
                cursor : pointer;
            }
            @media (max-width:768px) {
                .crudIcon {
                    margin-top : 40px;
                }
            }

            .languageRowDelete {
                width:32px;
                height:32px;
                margin-left : -32px;
                margin-top:4px;
            }
            @media (min-width:570px) and (max-width:596px){
                .languageRowDelete {
                    margin-left : -16px;
                }
            }
            @media (max-width:768px) {
                .languageRowDelete {
                    margin-left : 16px;
                }
            }
            .addLink {
                color:white !important;
                margin-right : 10px;
            }
            .addLink:hover {
                text-decoration : underline !important;
                cursor : pointer;
            }

            .CVLineLabel {
                color : white;
                font-weight : bold;
                font-size : 19px;
                margin-bottom : 26px;
            }

            .CVLineValue {
                color : #2B666A;
                font-weight : bold;
                font-size : 19px;
            }
            .userListAvatar {
                width : 100px;
                height : 100px;
                margin-top :30px;
            }

            .userListItem {
                margin : 15px;
                height : 250px !important;
            }
            @media (max-width:1024px) {
                .userListItem {
                    margin : 15px;
                    height : 400px !important;
                }
            }
            .userListItemTitle {
                color : white;
                font-weight : bold;
                font-size : 22px;
            }
            .userTypeFrame {
                padding:75px;
            }
            .userType{
                color : white !important;
            }
            li {
                color : white;
            }
            .whiteLabel {
                color : white;
                font-size:18px;
                font-weight : bold;
            }
            .avatar {
                width: 100%;
                height: auto;
            }
            .registerAvatar {
                width : 100px;
                max-width : 100px;
                height : auto;
                border-radius : 20px;
                box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.6);
            }
            .bigLabel {
                font-size : 24px;
            }
    
            