{{for educations.educations}}
<div class="checkbox">
    <label><input type="checkbox" id="{{:id}}" value="{{:value}}" {{if checked}} checked{{/if}}>{{:label}}</label>
</div>
{{/for}}
<div>
    <form>
        <fieldset>
            <legend>Add a education</legend>
            {{include educations.level tmpl="selectSimple"/}}
            {{include educations.name tmpl="inputTextSimple"/}}
            {{include educations.entity tmpl="inputTextSimple"/}}
            {{include educations.length tmpl="inputTextSimple"/}}
            {{include educations.endDate tmpl="inputSelectDate"/}}
            {{include educations.submit tmpl="submitSimple"/}}
        </fieldset>

    </form>
</div>