{{for experiences.experiences}}
<div class="checkbox">
    <label><input type="checkbox" id="{{:id}}" value="{{:value}}" {{if checked}} checked{{/if}}>{{:label}}</label>
</div>
{{/for}}
<form>
    <fieldset>
        <legend>Add an experience</legend>
        {{include experiences.jobTitle tmpl="inputTextSimple"/}}
        {{include experiences.descriptions tmpl="multiFieldText"/}}
        {{include experiences.company tmpl="inputTextSimple"/}}
        {{include experiences.location tmpl="inputTextSimple"/}}
        {{include experiences.startDate tmpl="inputSelectDate"/}}
        {{include experiences.endDate tmpl="inputSelectDate"/}}
        {{include experiences.submit tmpl="submitSimple"/}}
    </fieldset>

</form>