{{for trainings.trainings}}
<div class="checkbox">
    <label><input type="checkbox" id="{{:id}}" value="{{:value}}" {{if checked}} checked{{/if}}>{{:label}}</label>
</div>
{{/for}}
<form>
    <fieldset>
        <legend>Add a training</legend>
        {{include trainings.name tmpl="inputTextSimple"/}}
        {{include trainings.entity tmpl="inputTextSimple"/}}
        {{include trainings.length tmpl="inputTextSimple"/}}
        {{include trainings.endDate tmpl="inputSelectDate"/}}
        {{include trainings.submit tmpl="submitSimple"/}}
    </fieldset>
</form>