{{include CVEditionNavbar tmpl="buttonGroup"/}}
{{include editCV}}
    <div id="CVEdition">
        {{include editProfile tmpl="CVEdition"/}}
    </div>
    <div id="addEducation">
        {{include addEducation tmpl="addEducation"/}}
    </div>
    <div id="addExperience">
        {{include addExperience tmpl="addExperience"/}}
    </div>
    <div id="addTraining">
        {{include addTraining tmpl="addTraining"/}}
    </div>
{{/include}}