<div class="row">
    <div class="col-12 col-md-5 CVLineLabel">
        {{:label}}
    </div>
    <div class="col-12 col-md-7 CVLineValue">
        {{if pre}}<pre class="CVLineValue">{{/if}}
{{:value}}  {{!-- don't move value to respect indentation, it actually matters with <pre>--}}
        {{if pre}}</pre>{{/if}}
    </div>
</div>