<form>
    {{include CVTitle tmpl="inputText"/}}
    {{include CVDepartment tmpl="selectMultiple"/}}
    {{include CVSeniority tmpl="select"/}}
    {{include CVExperience}}
        <div class="form-group row">
            <div class="col-md-{{if narrow}}12{{else}}5{{/if}} col-12 leftSider">
                <label for="{{:id}}">{{:label}}</label>
            </div>
            <div class="col-md-{{if narrow}}12{{else}}7{{/if}} col-12">
                <div class="row">
                    <div class="col-md-6 hint">
                        {{:addedText}}
                    </div>
                    <div class="col-md-6">
                        {{include tmpl="selectDate"/}}
                    </div>
                </div>
            </div>
        </div>
    {{/include}}

    {{include CVSkill tmpl="selectMultiple"/}}
    {{include CVLanguage tmpl="inputLanguage"/}}
    <div class="emptySpace"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">{{include saveDraft tmpl="submit"/}}</div>
        <div class="col-md-4">{{include next tmpl="submit"/}}</div>
    </div>
</form>