<div class="btn-group w-100">
    {{for buttons}}
    <button type="button" 
    class="btn {{if class}}{{:class}}{{else}}genyzNavButton{{/if}} w-100" 
    id="{{:id}}">{{:label}}</button>
    {{/for}}
</div>