<div id="trainingLine{{:id}}">
        <div class="row">
            <div class="col-9 col-md-10">
                {{if edit}}
                    {{include CVTrainingTrainingName tmpl="inputText"/}}
                    {{include CVTrainingInstitutionName tmpl="inputText"/}}
                    {{include CVTrainingDuration tmpl="inputText"/}}
                    {{include CVTrainingEndDate tmpl="selectDate"/}}
                {{else}}
                    {{include CVTrainingTrainingName tmpl="CVElementItemLine"/}}
                    {{include CVTrainingInstitutionName tmpl="CVElementItemLine"/}}
                    {{include CVTrainingDuration tmpl="CVElementItemLine"/}}
                    {{include CVTrainingEndDate tmpl="CVElementItemLine"/}}
                {{/if}}
            </div>
            <div class="col-3 col-md-2">
                {{include tmpl="CVElementCrudIcons"/}}
            </div>
        </div>
    </div>
    <div class="emptySpace"></div>