<form>
        <div class="emptySpace"></div>
        <legend>Training</legend>
        <div id="trainingList"></div>
            
        </div>
        {{include CVAddTraining tmpl="addLink"/}}
    
        <div class="emptySpace"></div>
    
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">{{include saveDraft tmpl="submit"/}}</div>
            <div class="col-md-4">{{include next tmpl="submit"/}}</div>
        </div>
    </form>