<div class="narrowPage">
    <form>
        <fieldset>
            <legend>{{:login}}</legend>
            {{include mailAddress tmpl="inputText"/}} 
            {{include password tmpl="inputText"/}} 
            {{include submit tmpl="submit"/}}
            {{include loginConsultant tmpl="submit"/}}
            {{include loginClient tmpl="submit"/}}
            {{include loginAdmin tmpl="submit"/}}
        </fieldset>
    </form>
</div>