<div class="narrowPage">
<form class="needs-validation" id="registerForm" novalidate>
        <div class="bigSectionHeaderLight">
            <div class="row">
                <div class="col-1 col-xs-1 col-md-1"></div>
                <div class="col-3 col-xs-3 col-md-2">
                    <img src="./assets/avatar/defaultAvatarM.png" class="registerAvatar" id="avatar" />
                </div>
                <div class="col-6 col-xs-6 col-md-6">
                    <span class="bigSectionHeaderText">Register</span>
                </div>
            </div>
            
        </div>
    <div id="page1">
        {{include firstName tmpl="inputText"/}}
        {{include lastName tmpl="inputText"/}}
        {{include birthdate tmpl="selectDate"/}}


        {{include mail tmpl="inputText"/}}
        <div class="row">
            <div class="col-12 col-md-12">
                <span class="hint">Please use the email address on which you received your
                subscription link.</span>
            </div>
        </div>



        <div class="mediumEmptySpace"></div>

        {{include phone1 tmpl="inputText"/}} 
        {{include phone2 tmpl="inputText"/}}
        {{include sex tmpl="select"/}}

        {{if userLevel == 1}}
            {{include jobTitle tmpl="inputText"/}}
            {{include password1 tmpl="inputText"/}} 
            {{include password2 tmpl="inputText"/}} 
        {{/if}}


        <div class="row">
            <div class="col-8 col-xs-12 col-md-8"></div>
            <div class="col-4 col-xs-12 col-md-4">
                {{!-- register for admins, next for others--}}

                {{if userLevel != 1}}
                    {{include next1 tmpl="submit"/}}
                {{else}}
                    {{include submit tmpl="submit"/}}
                {{/if}}
            </div>
        </div>
        

    </div>




{{if userLevel != 1}}
    <div id="page2">
        {{!-- for anything but customers--}}
        {{if userLevel != 2}}
        
            {{include nationalRegisterNumber tmpl="inputText"/}}
            <div class="row">
                <div class="col-5 col-xs-12 col-md-5">
                    <span class="whiteLabel bigLabel">Address*</span>
                </div>
            </div>
            <div class="mediumEmptySpace"></div>
            {{include address tmpl="inputAddress"/}}


            {{include country tmpl="inputText"/}} 
            

        {{else}}
            {{include jobTitle tmpl="inputText"/}}
            {{include company tmpl="inputText"/}}
            {{include sector tmpl="inputText"/}}

            

            <div class="row">
                <div class="col-5 col-xs-12 col-md-5">
                    <span class="whiteLabel bigLabel">Company address*</span>
                </div>
            </div>
            <div class="mediumEmptySpace"></div>
            
            
            {{include address tmpl="inputAddress"/}}
            {{include companyLocation tmpl="region"/}} 
            <div id="countrySelection">
                {{include country tmpl="inputText"/}}
            </div>
            <div class="row">
                    <div class="col-12 col-md-12">
                        <span class="hint"></span>
                    </div>
                </div>


        {{/if}}
        <div class="row">
            <div class="col-4 col-xs-12 col-md-4"></div>
            <div class="col-4 col-xs-12 col-md-4">
                {{include back1 tmpl="submit"/}}
            </div>
            <div class="col-4 col-xs-12 col-md-4">
                {{include next2 tmpl="submit"/}}
            </div>
        </div>
    </div>





    <div id="page3">
        {{!-- for anything but customers--}}
        {{if userLevel != 2}}
            {{include jobTitleConsultant tmpl="inputText"/}}
            {{include departmentInterest tmpl="selectMultiple"/}}
            {{include skillInterest tmpl="selectMultiple"/}}
            {{include location tmpl="region"/}}
            {{include availability tmpl="availability"/}}
            {{include password1 tmpl="inputText"/}} 
            {{include password2 tmpl="inputText"/}} 

        {{else}}
            {{include departmentName tmpl="inputText"/}}
            {{include departmentInterestClient tmpl="selectMultiple"/}}
            {{include skillInterestClient tmpl="selectMultiple"/}}
            {{include activity tmpl="textarea"/}}
            <div class="emptySpace"></div>
            {{include password1 tmpl="inputText"/}} 
            {{include password2 tmpl="inputText"/}} 
        {{/if}}
        <div class="row">
            <div class="col-4 col-xs-12 col-md-4"></div>
            <div class="col-4 col-xs-12 col-md-4">
                {{include back2 tmpl="submit"/}}
            </div>
            <div class="col-4 col-xs-12 col-md-4">
                {{include submit tmpl="submit"/}}
            </div>
        </div>
    </div>
{{/if}}
</form>
</div>