<form>
        <legend>Experience</legend>
    
        {{include CVExperienceSummary tmpl="textarea"/}}
        <div class="emptySpace"></div>
        <legend>Experience</legend>
        <div id="experienceList">
            
        </div>
        {{include CVAddExperience tmpl="addLink"/}}
    
        <div class="emptySpace"></div>
    
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">{{include saveDraft tmpl="submit"/}}</div>
            <div class="col-md-4">{{include submit tmpl="submit"/}}</div>
        </div>
    </form>