<div id="experienceLine{{:id}}">
        <div class="row">
            <div class="col-9 col-md-10">
                {{if edit}}
                    {{include CVExperienceJobTitle tmpl="inputText"/}}
                    {{include CVExperienceCompany tmpl="inputText"/}}
                    {{include CVExperienceLocation tmpl="inputText"/}}
                    {{include CVExperienceStartDate tmpl="selectDate"/}}
                    {{include CVExperienceEndDate tmpl="selectDate"/}}
                    {{include CVExperienceProjectDescription tmpl="textarea"/}}
                {{else}}
                    {{include CVExperienceJobTitle tmpl="CVElementItemLine"/}}
                    {{include CVExperienceCompany tmpl="CVElementItemLine"/}}
                    {{include CVExperienceLocation tmpl="CVElementItemLine"/}}
                    {{include CVExperienceStartDate tmpl="CVElementItemLine"/}}
                    {{include CVExperienceEndDate tmpl="CVElementItemLine"/}}
                    {{include CVExperienceProjectDescription tmpl="CVElementItemLine"/}}
                {{/if}}
            </div>
            <div class="col-3 col-md-2">
                {{include tmpl="CVElementCrudIcons"/}}
            </div>
        </div>
    </div>
    <div class="emptySpace"></div>