<div class="col-xs-12 col-md-4{{if offsetIt}} offset-2 offset-md-2{{/if}}">
    <div class="itemFrame">
        <a class="itemLink" href="#{{:link}}">
            <img src="{{:iconSrc}}" class="dashboardItem" />
            <br /> {{:linkText}}
        </a>
    </div>
</div>