<div class="col-xs-12 col-md-11 col-xl-3 userListItem">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <span class="userListItemTitle">{{:firstName}} {{:lastName}}</span>
        </div>
        <div class="col-xs-4 col-md-4">
            <img src="./assets/avatarPlaceholder.png" class="userListAvatar" />
        </div>
        <div class="col-xs-8 col-md-8">
            <div class="leftSider">
            {{if userLevel == 1}}
                
            {{else userLevel == 2}}
                <ul>
                    <li>{{:function}}</li>
                    <li>{{:company}} ({{:companyLocation}})</li>
                    <li>{{:department}}</li>
                </ul>
            {{else userLevel == 3}}
                <ul>
                    <li>{{:seniority}}</li>
                    <li>{{:experience}}</li>
                    <li>{{:department}}</li>
                    <li>{{:language}}</li>
                    <li>{{:availability}}</li>
                </ul>
            {{else userLevel == 4}}
            <ul>
                    <li>{{:seniority}}</li>
                    <li>{{:experience}}</li>
                    <li>{{:department}}</li>
                    <li>{{:language}}</li>
                    <li>{{:availability}}</li>
                </ul>
            {{/if}}
            </div>
        </div>
    </div>
</div>