<div class="row rightSider">
    <div class="col-xS-12 col-md-2">
    </div>
    <div class="col-xS-12 col-md-2 hint">
        sort by : 
    </div>
    <div class="col-xS-12 col-md-8">
        {{include tmpl="select"/}}
    </div>
</div>