<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-xl-2" id="userCriteria">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-xl-10">
        <div class="row">
            <div class="col-xs-12 col-md-6 whiteTitle">
                Users : search results
            </div>
            <div class="col-xs-12 col-md-6">
                {{include userSort tmpl="userSort"/}}
            </div>
            <div class="col-xs-12 col-md-12">
                <div id="userList" class="row">

                </div>
            </div>
        </div>
    </div>
</div>