<div class="row">
    {{for userTypes}}
        <div class="col-12 col-xs-12 col-md-5 col-lg-5">
            <div class="userTypeFrame">
                <h1><a href="#userList-{{:value}}" class="userType">{{:name}}</a></h1>
            </div>
        </div>
    {{/for}}
</div>