<!--<div class="row">
    <div class="col-xs-12 col-md-12">
        
    </div>

</div>-->

{{include resetCriteria tmpl="submit"/}}
{{include userType tmpl="select"/}}
{{include keyword tmpl="inputText"/}}


{{if userListLevel==2}}
{{include company tmpl="selectMultiple"/}}
{{include department tmpl="selectMultiple"/}}
{{include skill tmpl="selectMultiple"/}}

{{include location tmpl="region"/}}

{{include status tmpl="selectMultiple"/}}

{{/if}}

{{if userListLevel==3 || userListLevel==4}}
{{include department tmpl="selectMultiple"/}}
{{include skill tmpl="selectMultiple"/}}


{{include highestDegree tmpl="selectMultiple"/}}

{{include industrialPharmacist}}
<div class="row">
    <div class="col-xs-12 col-md-12 whiteLabel">
        {{:label}}
    </div>
    <div class="col-xs-12 col-md-12">
        {{include tmpl="radio"/}}
    </div>
</div>
{{/include}}
{{include seniority tmpl="selectMultiple"/}}



<div class="row selectLine">
    <div class="col-12 col-md-12 fakeLabel">
        {{include availability}}
        <label for="{{:id}}">{{:label}}</label>
        {{/include}}
    </div>
    <div class="col-4 col-md-4 hint">
        From
    </div>
    <div class="col-8 col-md-8">
        {{include availability tmpl="selectDate"/}}
    </div>
</div>

{{include mobility tmpl="region" /}}

<div class="smallEmptySpace"></div>

<div class="row selectLine">
    <div class="col-12 col-md-12 whiteTitle">
        Interests
    </div>
</div>

{{include departmentInterest tmpl="selectMultiple" /}}

{{include skillInterest tmpl="selectMultiple" /}}

{{include status tmpl="selectMultiple"/}}

{{/if}}