<form>
    <legend>Education</legend>

    {{include CVDegree tmpl="selectMultiple"/}}
    <div class="emptySpace"></div>
    <legend>Degree</legend>
    <div id="educationList">
        
    </div>
    {{include CVAddEducation tmpl="addLink"/}}

    <div class="emptySpace"></div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">{{include saveDraft tmpl="submit"/}}</div>
        <div class="col-md-4">{{include next tmpl="submit"/}}</div>
    </div>
</form>