<div id="educationLine{{:id}}">
    <div class="row">
        <div class="col-9 col-md-10">
            {{if edit}}
                {{include CVEducationDegreeName tmpl="inputText"/}}
                {{include CVEducationSchoolName tmpl="inputText"/}}
                {{include CVEducationDuration tmpl="inputText"/}}
                {{include CVEducationEndDate tmpl="selectDate"/}}
            {{else}}
                {{include CVEducationDegreeName tmpl="CVElementItemLine"/}}
                {{include CVEducationSchoolName tmpl="CVElementItemLine"/}}
                {{include CVEducationDuration tmpl="CVElementItemLine"/}}
                {{include CVEducationEndDate tmpl="CVElementItemLine"/}}
            {{/if}}
        </div>
        <div class="col-3 col-md-2">
            {{include tmpl="CVElementCrudIcons"/}}
        </div>
    </div>
</div>
<div class="emptySpace"></div>